<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'"
    />
  </head>

  <body>
    <div id="tip-box">
        <button id="ok">确认</button>
        <button id="cancel">取消</button>
        <button id="minSys">最小化至系统托盘</button>
    </div>
  </body>
  <script >
      let cancelBtn = document.getElementById('cancel')
      let okBtn = document.getElementById('ok')

      cancelBtn.addEventListener('click', () => {
        window.api.cancleCloseTipWindow()
      })

      okBtn.addEventListener('click', () => {
        window.api.closeTipWindow()
      })
  </script>
</html>